<div class="container">
  <h1 class="mt-4">Informações dos cursos</h1>
  <hr />

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel felis et
    sem molestie hendrerit id eu mauris. Sed commodo ex nibh, sit amet placerat
    dui pretium in. Duis dictum ante erat, in sollicitudin eros porta vel.
    Vivamus suscipit finibus mi eget consequat. Proin varius malesuada arcu, sed
    feugiat odio vulputate non. Vestibulum quis scelerisque tellus, condimentum
    volutpat enim. Integer diam elit, rutrum id nisl eu, dignissim blandit
    massa. Nullam suscipit ligula nec mauris mollis, eu dignissim neque
    eleifend. Orci varius natoque penatibus et magnis dis parturient montes,
    nascetur ridiculus mus. Integer vehicula porta imperdiet. Quisque in felis
    eu neque efficitur elementum. Aliquam id sem efficitur, rutrum ipsum at,
    laoreet lectus. Donec feugiat diam placerat feugiat accumsan. Pellentesque
    viverra cursus suscipit. Cras mattis euismod nisl, et commodo dui pulvinar
    rhoncus. In libero sapien, maximus non consequat non, dignissim in neque.
  </p>
</div>
