header.header {
    background: rgb(31,31,31);
    background: linear-gradient(90deg, rgba(31,31,31,1) 14%, rgba(244,244,244,1) 86%); 
    padding: 0 15px 5px 20px;
    overflow: hidden;
    white-space: nowrap;
    box-shadow: var(--shadow);
    color: white;
    height: 40%;
}

header.header h1 {
    font-size: 1.8em;
}